<div class="container">
	<h1 class="text-uppercase text-expanded font-weight-bold">LOCATIONS</h1>
	<p class="text-muted">We currently have eight locations in the Twin Cities and are constantly expanding</p>
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div ng-repeat="value in locationRecord1">
					<p class="text-uppercase text-expanded font-weight-bold"> {{ value }} </p>
			</div>
		</div>
		<div class="col-lg-6 col-md-12 text-center">
			<div ng-repeat="value in locationRecord2">
				<p class="text-uppercase text-expanded font-weight-bold"> {{ value }} </p>
			</div>
		</div>
	</div>
</div>
